<h1>About the app</h1>
<p>
  <h3 class="bg-secondary-subtle w-25 bg-success-subtle">Team 10 CA02</h3>
</p>

  <h4 class="border border-success p-2 mb-2 border-opacity-50 w-75">
    This project is modified from 'firstapp' from lecture 30.
    This app could prompt the user to ask questions and it will invoke ChatGPT to answer the question.
  </h4>