<h1>CS103a App</h1>
<p class="text-danger">Welcome to the App</p>
<!-- Here we show how to encode a URI and get weather data -->
<% address = encodeURI("152 Aspinwall Ave, Brookline MA, 02446") %>
<a href="https://geocoding.geo.census.gov/geocoder/locations/onelineaddress?address=<%= address %>&benchmark=2020&format=json">
  get weather</a>
<br>
<a href="/gpt">Time Converter by Wenhao Xie</a>
<br>
<a href="/money">Currency Converter by Barry Wen</a>
<br>
<a href="/temp">Temperature Converter by Zhihan Li</a>