<div class="container my-5">
  <h1>Curreny Converter</h1>
  Here is the answer in text mode:
  <div style="border:thin solid black">
    <%=answer%>
  </div>
  Here is the answer in "pre" mode:
  <pre style="border:thin solid black"><%=answer%></pre>
  <a href="/money">Make another query</a>
</div>