<h2>COSI103a Team10</h2>
<div class="col-sm-6 col-lg-6 mb-3">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Wenhao Xie</h5>
      <p class="card-text">1st year MS4 student.
        <br>
        Responsible for.
        <br>
      </p>
      <h5 class="card-title">Barry Wen</h5>
      <p class="card-text">1st year MS4 student.
        <br>
        Responsible for.
        <br>
      </p>
      <h5 class="card-title">Zhihan Li</h5>
      <p class="card-text">1st year MS4 student.
        <br>
        Responsible for.
        <br>
      </p>
    </div>
  </div>
</div>